*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins , sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg , #ff56c7 , #420137);
    color: #fff;
    padding: 10px; 
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
   margin-top: 10%;
}
.calculator h1{
    font-size: 60px;

}
.calculator h1 span{
    color: rgb(216, 216, 6);
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    margin-right: 20px;
    padding: 14px 20px;
    border-radius:5px ;
    position: relative;
}
.input-box button{
    background:rgb(190, 205, 50) ;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
}
/* .input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
} */
